[submodule "biopython"]
	path = biopython
	url = https://github.com/flat35hd99/biopython.git
[submodule "docs/guide/themes/book"]
	path = docs/guide/themes/book
	url = https://github.com/alex-shpak/hugo-book
